<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>VF Question</title>
  {% include 'partials/styles.html' %}
</head>
<body>
  {% include 'partials/nav.html' %}
  <div id="quiz_or_feedback">
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h2 class="header center white-text text-lighten-2 blurring border">CHAT</h2>
          <br><br>
        </div>
      </div>
      <div class="parallax"><img src="{{ url_for('static', filename='assets/radish.jpg') }}" alt="Radishes from unsplash"></div>
    </div>
    <div id="pacman"></div>

    <div class="container">
      <div class="section">

        <div class="row center">

          <form class="col s10">
            <div class = "row">
              <div class = "input-field col s10">
                <i class = "material-icons prefix">mode_edit</i>
                <textarea name="chat" id="chat" class="materialize-textarea"></textarea>
                <label for="answer">chat with the bot!</label>
              </div>
            </div>
          </form>


          <button class="btn waves-effect waves-light col s2 mtop" id="chat_button" >Submit
            <i class="material-icons right">send</i>
          </button>


        </div>
        <div id="loading_messages" class="row center purple-text"></div>
        <div class="row">
          <div class="col s10" id="chat_history">
            <p>Bot: Hi, I'm a chat bot, say hi!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% include 'partials/footer.html' %}

  {% include 'partials/scripts.html' %}
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

  </body>
</html>
