<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Arguing in Vegan</title>
  {% include 'partials/styles.html' %}


</head>
<body>
  {% include 'partials/nav.html' %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center purple-text text-lighten-2">Arguing in Vegan</h1>
        <div class="row center">
          <h5 class="header col s12 light">An introduction to the world of vegan debates</h5>
        </div>
        <div class="row center">
          <a
            href="/quiz" class="btn-large waves-effect waves-light purple lighten-2">
            {% if session.username %}
              Get Started
            {% else %}
              Login to get started
            {% endif %}
          </a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='assets/purple.jpg') }}" alt="Purple vegan food photo by Bruna Branco unsplash.com">Unsplash</a>
      "></div>
  </div>


  <div class="container">
    <div class="section">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="center">
          {% for message in messages %}
            <li class='purple-text'>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">phone_missed</i></h2>
            <h5 class="center">Speeds up loss of friends</h5>

            <p class="light">We did most of the heavy lifting for you to find the most annoying questions, so that when you hear your friends ask them, you'll be all set to interrupt them!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">pets</i></h2>
            <h5 class="center">Animal focused</h5>
            <p class="light">If you're looking for tasty recipes and advice for vegan gainz, you've come to the wrong place. We're here to talk about the animals and their rights. Except there was a lot of data about vegan recipes and nutrition, so nevermind, you'll find that stuff here too.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_drink</i></h2>
            <h5 class="center">Grab a drink</h5>

            <p class="light">Lots of potential here for drinking games, as long as your drinks are vegan.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 white-text text-lighten-1">Hope you like lettuce</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='assets/monika-grabkowska-lettuce.jpg') }}" alt="Purple lettuce photo by Monika Grabkowska unsplash.com"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3 class="mdi-content-send brown-text">Have some vegan jokes on us</h3>

          <div class="light">
            <p>An atheist, a CrossFitter, and a vegan walk into a bar. I only know that's what they were because they told me.</p>
            <hr>
            <p>Did you hear about the vegan devil worshipper?</p>
            <p>He sold his soul to seitan!</p>
            <hr>
            <p>How can you tell if someone is vegan?</p>
            <p>Don’t worry. When you offer them meat, they will say "no thanks", then you can relentlessly ask them questions why, then you can get upset and accuse them of going on about it.</p>
            <hr>
            <p>I met this woman today who said she recognized me from a vegan group, but I’d never met herbivore.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 white-text">They're watching you</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='assets/robert-bye-cows.jpg') }}" alt="Cows photo by Robert Bye unsplash.com"></div>
  </div>
  {% include 'partials/footer.html' %}

  {% include 'partials/scripts.html' %}

  </body>
</html>
